.body {
  display: flex;

  align-items: center;
}
.inputs {
  border-radius: 20px 0px 0px 20px;
  height: 1.3rem;
}
.inputs:hover::after{
  content: "write here";
  background-color: black;
  color: #fff;
}
.button {
  height: 1.6rem;
  border-radius: 0 20px 20px 0px;
}
::placeholder {
  display: flex;
  justify-content: flex-start;
}
