.body{
    background-color: blue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color:greenyellow;
    padding-left:3rem;
    padding-right: 3rem;
}

p{
    font-weight: 600;
    line-height: 2rem;
    width:70vw;
    margin: 3rem auto;
}
@media screen and (max-width: 600px) {
    .body{
        overflow: scroll;
        padding-bottom: 2rem;
    }
}