.body {
  background-color: rgb(79, 166, 216);
  height: 9rem;
  width: 17rem;
  font-size: 2rem;
  border-radius: 20px;
  padding: 0.5rem;
  gap: 1rem;
  margin-right: 1rem;
  transition: all 4s ease;
  position: relative;
}
/* 
.body:hover {
  transform: rotate(45deg);
  transition: transform 1s ease;
  content: "click +";


  transition: opacity 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
} */

.mid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  align-items: center;
}
.link {
  display: flex;
  font-size: 4rem;
  color: greenyellow;
  align-items: center;
}
.close {
  display: grid;
  margin-left: 85%;
  align-items: center;
  border-radius: 100px;
  border: solid black;
  color: red;
  background-color: rgb(85, 85, 85);
  width: 2rem;
  height: 2rem;
}
.mid img {
  height: 75px;
}
.mid tag {
  font-size: 2.5rem;
}
@media screen and (max-width: 550px) {
  .body {
    margin-bottom: 1rem;
  }
}
