.body {
  display: grid;
  background-image: url('../../public/wp10154426.jpg');
  height: 100vh;
  background-size: cover;
background-repeat: no-repeat;
align-content: center;
}
.subBody {
  display: grid;
 
  justify-items: center;
  color: blanchedalmond;
gap:7rem;
}

.Links {
  height: 3rem;
  width: 15rem;
  justify-content: center;
  margin-top: 4rem;
  background-color: grey;
  border-radius: 40px;
  border: green solid;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: green;
  transition: color, border 1s;
}
.Links:hover{
  border-color: rgb(65, 248, 65);
  color:rgb(65, 248, 65);
}

@media screen and (max-width: 550px) {
  .body {
    align-items: center;
  }
  .subBody {
    display: grid;
    height: 50%;
    padding-top: 0px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    flex-wrap: wrap;
  }
  .subBody h4 {
    padding: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .Links {
    height: 2rem;
    width: 10rem;
    justify-content: center;
    margin-top: 2.5rem;
    background-color: grey;
    border-radius: 40px;
    border: green solid;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: green;
  }
}