.body {
  background-color: rgb(85, 85, 85);
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
  padding-right: 1rem;
}
.NavLink {
  color: greenyellow;
  text-decoration: none;
}
@media screen and (max-width: 550px) {
  .body{
    padding-right: 0;
  }
  #Weather {
    display: none;
  }
}
